<!-- Standard Password Requirements -->

<div class="box" id="requirements" style="display: none">
  <!-- Title -->
  <h3 class="text" id="req_title">
    Try to include all of these in your encryption key:
  </h3>
  <!-- List displaying standard password requirements -->
  <ul id="req_list">
    <li>Capitalise at least one character</li>
    <li>Include at least one number</li>
    <li>Include at least one special character ( ! @ # ? )</li>
    <li>
      Add enough extra characters to bring any password up to at least 8
      characters in length
    </li>
  </ul>
</div>
